<launch>
    <!-- 使用仿真时间 -->
    <param name="use_sim_time" value="true" />


     <!-- Start rosbag play -->
    <node pkg="rosbag" type="play" name="rosbag_play" output="screen" args="$(find py_plane_seg)/bags/velodyne_points.bag" />
    

    <node pkg="py_plane_seg" type="plane_seg_node.py" name="plane_seg_node" output="screen" />

    <!-- 启动 RViz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find py_plane_seg)/config/plane_test.rviz" />
</launch>
