<launch>
    <!-- 使用仿真时间 -->
    <param name="use_sim_time" value="true" />

    <!-- 将 Urdf 文件的内容加载到参数服务器 -->
    <param name="robot_description" command="$(find xacro)/xacro $(find robot_description)/urdf/xacro/big_car.urdf.xacro" />

    <!-- 启动 Gazebo 的仿真环境，当前环境为空环境 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find robot_description)/worlds/world.world" />
    </include>

    <!-- 在 gazebo 中显示机器人模型 -->
    <node pkg="gazebo_ros" type="spawn_model" name="model" args="-urdf -model big_car -param robot_description" />

    <!-- 启动 RViz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find robot_description)/config/rviz/default.rviz" />

    <!-- 关节以及机器人状态发布节点 -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- 包含 pc2scan.launch 文件 -->
    <include file="$(find robot_description)/launch/pc2scan.launch" />

</launch>
